In [3]:
import pandas as pd
import gzip
import json

dataset = 'amz-beauty'
filename = 'Beauty'
source_path = f'raw_data/McAuley14/{dataset}/reviews_{filename}_5.json.gz'

with gzip.open(source_path, 'rb') as f:
    data = [json.loads(line) for line in f]

df = pd.DataFrame(data)

df.head(1)

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A1YJEY40YUW4SE,7806397051,Andrea,"[3, 4]",Very oily and creamy. Not at all what I expect...,1.0,Don't waste your money,1391040000,"01 30, 2014"

In [4]:
import os

# Reviews

df['user'] = df['reviewerID']
df['item'] = df['asin']
df['rating'] = df['overall']
df['text'] = df['reviewText']

target_path = f'data/amz-beauty-review/reviews.csv'
os.makedirs(os.path.dirname(target_path), exist_ok=True)

df1 = df[['user', 'item', 'rating', 'text']]
df1.to_csv(target_path, index=False)

df1.head(1)

,user,item,rating,text
0,A1YJEY40YUW4SE,7806397051,1.0,Very oily and creamy. Not at all what I expect...

In [5]:
df['text'] = df['summary']

# Summary

target_path = f'data/amz-beauty-summary/reviews.csv'
os.makedirs(os.path.dirname(target_path), exist_ok=True)

df2 = df[['user', 'item', 'rating', 'text']]
df2.to_csv(target_path, index=False)

df2.head(1)

             user        item  rating                    text
0  A1YJEY40YUW4SE  7806397051     1.0  Don't waste your money